html {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;
}
/* Encabezado */
header {
  display: flex;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: auto;
}

nav ul li a {
  text-decoration: none;
}

/* Contenido principal */
div {
  margin-bottom: 20px;
}

.marco {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 50%;
  height: 40%;
  margin: auto;
  border-radius: 50px;
}

.decoracion {
  border-radius: 50px;
  margin: auto;
  padding: 15px 32px;
  text-align: center;
}

.centrar {
  text-align: center;
  margin: 0 auto;
}

.centrar-div {
  justify-content: center;
  align-items: center;
}

div h2 {
  color: #333;
}

.como_te_podemos {
  margin-left: 30%;
  text-align: center;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.equipo {
  width: 60%;
}
.preocupaciones {
  display: inline;
  margin-right: 100px;
}
.col-4 {
  margin-left: 15%;
}
.col-md-4 {
  text-align: center;
}

.como_te_podemos_ayudar {
  text-align: left;
  padding-left: 30%;
}

.equipo {
  text-align: center;
  width: 100%;
}

.carrousel_equipo {
  padding-top: 3%;
}

.carousel-item img {
  margin-bottom: 50%;
}

.carousel-caption {
  bottom: -60px;
}

h2 {
  text-align: center;
}

.card {
  width: 60%;
  margin-left: 20%;
  height: auto;
  text-align: center;
}
.grid {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 3;
  padding: 10px;
}

.column2 {
  flex: 2;
  padding: 10px;
}

.carrusel h5 {
  position: static;
}

#nati {
  width: 30%;
  height: auto;
  min-width: 100px;
}

.div-nati {
  font-size: 50px;
  width: 70%;
  height: 50%;
}
.div-nati a {
  font-size: 40%;
  width: 100%;
}

.final {
  width: 80%;
  height: 70%;
}

.minitexto p {
  font-size: 10px;
}
.megatexto {
  font-size: 30px;
}

/* grid sistem 1 */
.grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.column {
  padding: 16px;
  height: auto;
}

.unrenglon {
  white-space: nowrap;
}

/* Pie de página */
footer {
  display: flex;
}

.redes {
  float: right;
  list-style: none;
}

a {
  color: #fff;
}

li {
  display: inline;
}

/*COLORES TEXTO:*/

.texto-violeta-oscuro {
  color: #2a2f4f;
}

.texto-violeta-claro {
  color: #917fb3;
}

.texto-rosa-oscuro {
  color: #efbdeb;
}

.texto-rosa-claro {
  color: #f7def5;
}

/*COLORES FONDO:*/

.fondo-violeta-oscuro {
  background-color: #2a2f4f;
}

.fondo-violeta-claro {
  background-color: #917fb3;
}

.fondo-rosa-oscuro {
  background-color: #efbdeb;
}

.fondo-rosa-claro {
  background-color: #f7def5;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100%;
  background-color: #917fb3;
}

#carouselExample:hover .carousel-control-prev,
#carouselExample:hover .carousel-control-next {
  visibility: visible;
  background-color: #917fb3;
}
