html {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;}
/* Encabezado */
body {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  padding-right: 60%;
}

nav ul {
  list-style-type: none;
  margin: auto;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Contenido principal */
div {
  margin-bottom: 20px;
}

.marco{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 50%;
  height: 40%;
  margin: auto;
  border-radius: 50px;
}

.decoracion{
  border-radius: 50px;
  margin: auto;
  padding: 15px 32px;
}

.centrar {
  text-align: center;
  margin: 0 auto;
}

.centrar-div {
  justify-content: center;
  align-items: center;
}

div h2 {
  color: #333;
}

.como_te_podemos{
margin-left: 30%;
text-align: center;
padding: 20px;
text-align: center;
margin: 0 auto;
width: 60%;
}

.equipo{
  width: 60%;
}
.preocupaciones {
  display: inline;
  margin-right: 100px;
}
.col-4{
  margin-left: 15%;

}
.col-md-4{
  margin-left: -150px;
}
/* grid sistem 1 */
.grid{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.column {
  padding: 16px;
  height: auto;
}


/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
}

.texto-footer {
  text-align: left;
  margin-left: 5%;
}

.redes {
  float: right;
  list-style: none;
}

a {
  color: #fff;
}

li {
  display: inline;
}

.como_te_podemos_ayudar {
  text-align: left;
  padding-left: 30%;
}

.equipo {
  text-align: center;
  width: 100%;
}

.carrousel_equipo {
  text-align: end;
  padding-right: 10%;
}

.carousel-item img {
  margin-bottom: 50%;
}

.carousel-caption {
  bottom: -60px;
}

h2 {
  text-align: center;
}

.card{
  width: 60%;
  margin-left: 90%;
  height: 250px;
}
.grid {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 3;
  padding: 10px;
}

.column2 {
  flex: 2;
  padding: 10px;
}

.carrusel h5 {
  position: static
}

#nati{
width: 7cm;
height: 7cm;
}
.div-nati {
  font-size: 50px;
  width: 80%;
height: 50%;
}
.div-nati a {
  font-size: 40%;
width: 100%;
}

.final{
  width: 80%;
  height: 70%;

}

/*COLORES TEXTO:*/

.texto-violeta-oscuro {
  color: #2A2F4F;
}

.texto-violeta-claro {
  color: #917FB3;
}

.texto-rosa-oscuro {
  color: #E5BEEC;
}

.texto-rosa-claro {
  color: #FDE2F3;
}
#carouselExampleCaptions {
  width: 300px;
  height: 500px;
  overflow: hidden;
}
/*COLORES FONDO:*/

.fondo-violeta-oscuro {
  background-color: #2A2F4F;
}

.fondo-violeta-claro {
  background-color: #917FB3;
}

.fondo-rosa-oscuro {
  background-color: #E5BEEC;
}

.fondo-rosa-claro {
  background-color: #FDE2F3;
}